html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66%;
    background-color: #8EA8C3;
}

header,
footer {
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161925;
    color: #CBF7ED;
    font-weight: bold;
}

header {
    font-size: 24px;
}

footer {
    font-size: 16px;
}

.container {
    height: 33%;
    width: 300px;
    max-width: 80%;
    display: flex;
    border-radius: 12px;
    border: 3px solid #161925;
    background-color: #23395B;
}

.contMode1v1,
.contModeComputer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 50%;
}

.contModeComputer {
    border-left: 3px dotted #161925;
}

.label {
    color: #CBF7ED;
}

.playerNames,
.playerName {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    border-radius: 12px;
    border: 3px solid black;
    width: 230px;
    max-width: 80%;

    display: flex;
    flex-direction: column;
}

.playerNames.active {
    transform: translate(-50%, -50%) scale(1);
}

.playerName.active {
    transform: translate(-50%, -50%) scale(1);
}

.playerContainer,
.playerName ,
.computerContainer {
    padding: 15px;
}

.btnStart {
    margin: 15px;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 200ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.gridContainer {
    border: 3px solid black;
    width: 300px;
    height: 300px;
}

.gridRow {
    display: flex;
    height: 33.3%;
}

.gridField {
    height: 100%;
    width: 33.3%;
}

.field0,
.field3,
.field6,
.field1,
.field4,
.field7 {
    border-right: 1px solid black;
}

.row0,
.row1 {
    border-bottom: 1px solid black;
}